.calculadora {
    width: 350px;
    height: auto;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #000;
    border: #000 1px solid;
    background-color: darkgrey;
  }
  
  .pantalla {
    height: 100px;
    padding: 10px;
  }
  
  #resultado {
    width: 95%;
    height: 70px;
    font-size: 50px;
    border: none;
    background-color: rgb(58, 151, 58);
    border: #000 1px solid;
    
  }
  
  .teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
    
  }
  
  button {
    font-size: 30px;
    background-color: #cfc6c6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    

  }
  
  button:hover {
    background-color: white;
  }

  .teclado .igual {
    grid-column: span 2;
}

